<div class="flex">
  <% @properties.each do |property| %>
  <div>
    <p><%= property.name %></p>
    <p><%= property.headline %></p>
    <p><%= property.description %></p>
    <p><%= property.city %></p>
    <p><%= property.state %></p>
    <p><%= property.country %></p>
  </div>
  <% end %>
</div>