<div
  data-controller="geolocation"
  class="container mx-auto py-16"
  data-latitude="<%= current_user&.profile&.latitude %>"
  data-longitude="<%= current_user&.profile&.longitude %>"
>
  <ul role="list" class="grid grid-cols-1 gap-x-4 gap-y-8 sm:grid-cols-4 sm:gap-x-6 lg:grid-cols-5 xl:gap-x-8">
    <% @properties.each do |property| %>
      <li
        class="relative"
        data-geolocation-target="property"
        data-latitude="<%= property.latitude %>"
        data-longitude="<%= property.longitude %>"
      >
        <div class="group block w-full aspect-w-10 aspect-h-7 rounded-lg bg-gray-100 focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-offset-gray-100 focus-within:ring-indigo-500 overflow-hidden">
          <%= image_tag property.default_image, class: "object-cover pointer-events-none group-hover:opacity-75" %>
          <button type="button" class="absolute inset-0 focus:outline-none">
            <span class="sr-only">View details for IMG_4985.HEIC</span>
          </button>

          <div class="flex flex-row-reverse">
            <!-- In the svg heart image below, let's define three Stimulus js attributes: 'data-favorited', 'data action', 'data-controller' , 
                 where we will define the js controller that should be called when clicked -->
            <svg 
              xmlns = "http://www.w3.org/2000/svg"
              data-controller = "favorites"
              data-user-logged-in = "<%= user_signed_in? %>"
              data-user-id = "<%= current_user.id %>"
              data-property-id = "<%= property.id %>"
              data-favorite-url = " <%= api_favorites_path %> "
              data-unfavorite-url = " <%= api_favorite_path(current_user.favorites.find_by(property: property)) if current_user&.favorited_properties.include?(property) %> "
              data-favorite-id = "<%= current_user.favorites.find_by(property: property).id if current_user&.favorited_properties.include?(property) %>"
              data-favorited = "<%= current_user&.favorites.where(property: property).exists? %>"
              data-action = "click->favorites#favorite"
              fill = "<%= current_user&.favorited_properties.include?(property) ? 'red' : '#ced4da' %>"
              viewBox = "0 0 24 24"
              stroke-width = "1.5"
              stroke = "currentColor"
              class = "w-7 h-7 cursor-pointer mt-2 mr-2"
            >
              <path 
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z" 
              />
            </svg>
          </div>
        </div>
        <p class="mt-2 block text-sm font-medium text-gray-900 truncate pointer-events-none"><%= property.city %>, <%= property.state %> <%= property.country %></p>
        <p class="block text-sm font-medium text-gray-500 pointer-events-none text-black">
          <%= property.average_rating.round(2) %>
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 inline-block relative" viewBox="0 0 20 20" fill="currentColor" style="bottom: 2px;">
            <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
          </svg>
        </p>
        <p data-distance-away class="block text-sm font-medium text-gray-500 pointer-events-none"></p>
        <p class="block text-sm font-medium text-gray-500 pointer-events-none">Jun 19 - 24</p>
        <p class="block text-sm font-medium text-gray-500 pointer-events-none"><span class="text-black"><%= humanized_money_with_symbol(property.price) %></span> per night</p>
      </li>
    <% end %>
  </ul>
</div>